:host {
  display: block;
  width: 100%;
  min-height: 100vh;
}


app-admin-sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  z-index: 50;
}

app-header {
  display: block;
  margin-left: 240px;
  width: calc(100% - 240px);
  height: 70px;
  z-index: 100;
  position: fixed;
  top: 0;
}


app-header.is-collapsed {
  margin-left: 80px;
  width: calc(100% - 80px);
}

.app-content {
  margin-top: 70px;
  margin-left: 240px;
  width: calc(100% - 240px);
  min-height: calc(100vh - 70px);
  background: var(--app-bg);
}


.app-content.is-collapsed {
  margin-left: 80px;
  width: calc(100% - 80px);
}


@media (max-width: 575px) {
  
  app-header {
    margin-left: 80px;
    width: calc(100% - 80px);
  }

  app-header.is-collapsed {
    margin-left: 80px;
    width: calc(100% - 80px);
  }

  .app-content {
    margin-left: 80px;
    width: calc(100% - 80px);
  }

  .app-content.is-collapsed {
    margin-left: 80px;
    width: calc(100% - 80px);
  }

  
  .sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }

  
  app-admin-sidebar:not(.is-collapsed) {
    z-index: 1000;
  }
}

