:host {
  display: block;
  width: 100%;
  min-height: 100vh;
}

/* Sidebar */
app-admin-sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  z-index: 50;
}

app-header {
  position: fixed;
  top: 0;
  left: 240px;
  right: 0;
  height: 70px;
  z-index: 100;
}

/* header collapsed */
app-header.is-collapsed {
  left: 80px;
}

.app-content {
  margin-top: 70px;
  margin-left: 240px;
  width: calc(100% - 240px);
  min-height: calc(100vh - 70px);
  background: var(--app-bg);
}

/* content collapsed */
.app-content.is-collapsed {
  margin-left: 80px;
  width: calc(100% - 80px);
}

