:host {
  display: block;
  width: 100%;
  min-height: 100vh;
}


app-admin-sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  z-index: 50;
}

app-header {
  display: block;
  margin-left: 240px;
  width: calc(100% - 240px);
  height: 70px;
  z-index: 100;
}


app-header.is-collapsed {
  margin-left: 80px;
  width: calc(100% - 80px);
}

.app-content {
  margin-top: 70px;
  margin-left: 240px;
  width: calc(100% - 240px);
  min-height: calc(100vh - 70px);
  background: var(--app-bg);
}


.app-content.is-collapsed {
  margin-left: 80px;
  width: calc(100% - 80px);
}

