
<aside class="sidebar" [class.is-collapsed]="collapsed">
    <div class="sidebar__brand">
      <span class="brand-blue">Dash</span><span class="brand-dark">Stack</span>
    </div>
  
    <nav class="sidebar__nav">
        <a
          class="sidebar__item"
          *ngFor="let item of mainMenu"
          [routerLink]="item.route"
          routerLinkActive="is-active"
        >
          <i class="bi sidebar__icon" [ngClass]="item.icon"></i>
          <span class="sidebar__text">{{ item.labelKey | translate }}</span>
        </a>
      </nav>

      <div class="sidebar__divider"></div>

      <div class="sidebar__section-title">
        <span class="sidebar__section-text">{{ 'sidebar.pages' | translate }}</span>
      </div>

      <nav class="sidebar__nav">
        <a
          class="sidebar__item"
          *ngFor="let item of pagesMenu"
          [routerLink]="item.route"
          routerLinkActive="is-active"
        >
          <i class="bi sidebar__icon" [ngClass]="item.icon"></i>
          <span class="sidebar__text">{{ item.labelKey | translate }}</span>
        </a>
      </nav>
      
  </aside>
  